*{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.wow{
  font-size: 2em;
  text-align: center;
}

.gymimg{
  height: 200px;
  width: 100%;
}

.regi{
  margin-left: 45%;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: auto;
}

.welcome{
  text-align: center;
  text-decoration: underline;
  font-size: 2.3em;
  margin-top: 1%;
}

.wwd{
  text-align: center;
  font-size: 2em;
  margin-top: 1%
}

.about{
  text-align: center;
  font-size: 1.2em;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 25%;
}

.mainpics{
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

table {
  width: 80%;
  display: inline-table;
  margin-left: 9%;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: lightgrey;
}
table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}
th{
  padding: 8px;
  text-align: center;
  width:15%;
}

td{
  padding: 2px;
  text-align: left;
}

.border{
  border-left: solid blue 2px;
}

.border2{
  border-left: solid orange 2px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: red;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: black;
}
